/* kendo css 수정 */
/* 그리드 행의 높이 지정 */
.k-grid .k-table-td {
    box-sizing: border-box;
    height: 40px;
}

/* 그리드 로우 폰트 변경 */
.k-grid .k-table-md {
    font-size: 14px;
    line-height: 1.42857;
}

/*  그리드 툴바  */
.k-grid-toolbar{
    padding: 8px;
    display: block;
}
.k-toolbar > * {
    display: block;
}

/* 필터 박스 최적화 */
.k-check-all-wrap {
    padding: 0 !important;
    min-width: fit-content !important;
}
.k-filter-menu.k-popup .k-filter-menu-container {
    min-width: 100px;
    min-height: 100px;
}
.k-filter-help-text {
    white-space: nowrap;
    display: inline-block;
    overflow: visible;
}
.k-filter-selected-items {
    margin: auto;
}
.k-filter-menu {
    width: fit-content;
}
.k-actions > * {
    flex: 1 0 0%;
}
/*.k-multicheck-wrap > .mx-3 {*/
/*    overflow: visible;*/
/*}*/


/* 리스트박스 선택된 요소 태두리 제거 */
.k-list-item.k-focus {
    box-shadow: none;
}

/* 리스트 박스 벨류 짤림 버그*/
.k-input-inner {
    overflow: visible;
}


/* 탭 넘길때 페이지 넘버링 버그 */
.k-pager-numbers {
    display: flex !important;
}
.k-pager-md .k-pager-sizes .k-dropdownlist {
    display: inline-flex !important;
}
.k-pager-numbers-wrap > .k-dropdown {
    display: none !important;
}
.k-pager-sizes > span {
    display: flex !important;
}
.k-pager > span {
    display: flex !important;
}

/* 그리드 colum title ... 생기는 문제*/
.k-grid .k-cell-inner .k-grid-header-menu {
    width: calc(10px + 1.42857em);
    margin-inline-end: 0;
}
.k-grid .k-grid-header .k-cell-inner > .k-link > .k-sort-icon {
    margin-inline-start: calc(0.5rem - 1px);
}


/* 광고 광고소재 소재파일 그리드 크기 커짐 */
.k-grid td {
    box-sizing: border-box;
}
.k-grid {
    font-size: 0.894rem;
}

/*  생성폼 태두리 조정  */
.custom-class .k-input {
    border: none;
}
.custom-class .k-input-inner {
    border-radius: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}




/* bootstrap css 수정 */
/*  생성 폼 datepicker버튼 위치 바뀜 */
.custom-class .form-control {
    display: flex !important;
    padding: 0;
}

.custom-class .form-control > input {
    padding: .438rem .875rem;
}
