.default-style .sidenav .app-brand.logo {
  height: 59px;
}

.layout-1 .layout-sidenav .app-brand.logo,
.layout-1 .layout-sidenav .app-brand.logo + .sidenav-divider,
.layout-reversed .layout-2 .layout-sidenav .app-brand.logo {
  display: none;
}

.layout-1 .layout-navbar .app-brand.logo,
.layout-reversed .layout-2 .layout-navbar .app-brand.logo {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.layout-1 .layout-navbar .layout-sidenav-toggle,
.layout-reversed .layout-2 .layout-navbar .layout-sidenav-toggle,
.layout-offcanvas .layout-navbar .layout-sidenav-toggle,
.layout-fixed-offcanvas .layout-navbar .layout-sidenav-toggle {
  display: block !important;
}

.app-brand-text.logo-text {
	font-size: 1.1rem;
}

.app-brand-logo.logo-frame {
    display: -ms-flexbox;
    display: flex;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #BE0000;
}

@media (min-width: 992px) {
  .llayout-offcanvas .llayout-sidenav .llayout-sidenav-toggle,
  .llayout-fixed-offcanvas .llayout-sidenav .llayout-sidenav-toggle {
    display: none;
  }
}

@media (min-width: 992px)
.layout-collapsed:not(.layout-sidenav-hover):not(.layout-offcanvas):not(.layout-fixed-offcanvas) .layout-sidenav .app-brand-logo, .layout-collapsed:not(.layout-sidenav-hover):not(.layout-offcanvas):not(.layout-fixed-offcanvas) .layout-sidenav .app-brand-text {
    margin-right: auto;
    margin-left: auto;
}


/* *****************************************************************************
 *  Navbar
 */

.navbar-user .dropdown-toggle,
.navbar-user.b-nav-dropdown .nav-link {
  white-space: nowrap;
}

.navbar-user .user-info {
  max-width: 220px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

@media (min-width: 992px) {
  .navbar-user .dropdown-menu {
    margin-top: .25rem;
  }
}


/* *****************************************************************************
 *  Toastr - custom css
 */

.toast-top-right-custom {
  top: 12px;
  right: 12px;
  width: 12em;
}


/* *****************************************************************************
 *  Long text column - custom css
 */
 
.long-cont-1 {
  position: relative;
  max-width: 100%;
  padding: 0 !important;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  vertical-align: text-bottom !important;
}

.long-cont-2 {
  position: absolute;
  white-space: nowrap;
  overflow-y: visible;
  overflow-x: hidden;
  text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  max-width: 100%;
  min-width: 0;
  width:100%;
  top: 0;
  left: 0;
}

.long-cont-1:after, .long-cont-2:after {
  content: '-';
  display: inline;
  visibility: hidden;
  width: 0;
}  


/* *****************************************************************************
 *  Alert modal
 */

 .modal-dialog-vertical-center {
    -webkit-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    top: 30%;
    margin: 0 auto;
}

.modal-sm.modal-dialog-vertical-center {
    max-width: 20rem;
}

.modal-content-border-1 {
	border: 1px solid rgba(24,28,33,0.2);
}


/* *****************************************************************************
 *  Wait modal
 */

.wait-modal-sm {
    -webkit-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    top: 30%;
    margin: 0 auto;
	max-width: 10rem;
}

.wait-modal-body {
	padding: 1.5rem 0 0.5rem;
}

.wait-cube {
	margin: 20px auto; width: 40px; height: 40px;
}


/* *****************************************************************************
 *  Base styles
 */

.text-blue { color: #487df2; }
.text-red { color: #df1616; }
.text-orange { color: #ff7325; }
.text-yellow { color: #f7bc1c; }
.text-green { color: #70cc33; }
.text-purple { color: #af52fe; }
.text-gray { color: #646c6f; }
.text-emerald { color: #499d94; }
.text-navy { color: #445d73; }

.bg-blue { background: #487df2; }
.bg-red { background: #df1616; }
.bg-orange { background: #ff7325; }
.bg-yellow { background: #f7bc1c; }
.bg-green { background: #70cc33; }
.bg-purple { background: #af52fe; }
.bg-gray { background: #646c6f; }
.bg-emerald { background: #499d94; }
.bg-navy { background: #445d73; }

.fa-blank { visibility:hidden !important; }
svg.svg-inline--fa.fa-blank.fa-w-16.check-mark { width: 0; }

.scrollable-dropdown-menu {
	height: auto;
	max-height: 220px;
	overflow-x: hidden;
}

.border-none div.k-multiselect-wrap {
	border-style: none;
}

.border-none span.k-picker-wrap.k-state-default {
	border-style: none;
}

.border-none span.k-picker-wrap.k-state-disabled {
	border-style: none;
}

.cursor-pointer {
	cursor: pointer;
}


/* *****************************************************************************
 *  Modal styles
 */

.modal.modal-level-minus-2 {
    z-index: 1801 !important;
}
.modal-backdrop.modal-level-minus-2 {
    z-index: 1800 !important;
}
.modal.modal-level-minus-1 {
    z-index: 1901 !important;
}
.modal-backdrop.modal-level-minus-1 {
    z-index: 1900 !important;
}
.modal.modal-level {
    z-index: 2001 !important;
}
.modal-backdrop.modal-level {
    z-index: 2000 !important;
}
.modal.modal-level-plus-1 {
    z-index: 2101 !important;
}
.modal-backdrop.modal-level-plus-1 {
    z-index: 2100 !important;
}
.modal.modal-level-plus-2 {
    z-index: 2201 !important;
}
.modal-backdrop.modal-level-plus-2 {
    z-index: 2200 !important;
}
.modal.modal-level-top {
    z-index: 3001 !important;
}
.modal-backdrop.modal-level-top {
    z-index: 3000 !important;
}
.move-cursor { cursor: move; }
.modal-bg-color {
	background-color: #f8f8f8;
}


/* *****************************************************************************
 *  Tag styles
 */

.tag {
	color: #fff;  cursor: default;  font-size: 0.9rem;  font-weight: 400;
}


/* *****************************************************************************
 *  Common styles
 */

.text-link {
	text-decoration: underline;
	/*text-decoration-color: #cccccc !important;*/
    text-decoration-color: #868686 !important;
	text-underline-offset: 5px;
}
.btn-custom {
	width: calc(1.8rem + 2px) !important;
	line-height: 1.8rem;
}
.font-weight-300 {
	font-weight: 300 !important;
}
.font-weight-400 {
	font-weight: 400 !important;
}
.font-weight-500 {
	font-weight: 500 !important;
}
.font-weight-600 {
	font-weight: 600 !important;
}
.default-pointer {
	cursor: default;
}


/*  추가  */
/* Vertical Scrollbar 삭제 */
.k-grid .k-grid-header {
    padding: 0 !important;
}

/* 선택 체크박스를 포함하는 필터 패널을 보기 좋게 */
.k-filter-selected-items {
    font-weight: 500;
}

/*  min-height 적용 -> 로딩 버그 해결  */
.k-grid .k-grid-content {
    overflow-y: visible;
    min-height: 100px;
}
.k-loading-image::before {
    border-width: 0.1rem;
    border-color: #4e5155;
    animation: k-loading-animation 1.5s linear infinite;
}

/*  그리드 행의 높이 지정  */
.k-grid .k-table-td {
    box-sizing: border-box;
    height: 40px;
}

/*  그리드 로우 폰트 변경  */
.k-grid .k-table-md {
    font-size: 14px;
    line-height: 1.42857;
}

/*  그리드 툴바  */
.k-grid-toolbar {
    padding: 8px;
    display: block;
}

.k-toolbar > * {
    display: block;
}

/*  필터 박스 최적화  */
.k-check-all-wrap {
    padding: 0 !important;
    min-width: fit-content !important;
}

.k-filter-menu.k-popup .k-filter-menu-container {
    min-width: 100px;
    min-height: 100px;
}

.k-filter-help-text {
    white-space: nowrap;
    display: inline-block;
    overflow: visible;
}

.k-filter-selected-items {
    margin: auto;
}

.k-filter-menu {
    width: fit-content;
}

.k-actions > * {
    flex: 1 0 0%;
}

/*  리스트 박스 벨류 짤림 버그  */
.k-input-inner {
    overflow: visible;
}

/*  탭 넘길때 페이지 넘버링 버그  */
.k-pager-numbers {
    display: flex !important;
}

.k-pager-md .k-pager-sizes .k-dropdownlist {
    display: inline-flex !important;
}

.k-pager-numbers-wrap > .k-dropdown {
    display: none !important;
}

.k-pager-sizes > span {
    display: flex !important;
}

.k-pager > span {
    display: flex !important;
}

.k-pager > .k-pager-refresh {
    display: inline-flex !important;
}

/*  모달폼, datapicker, input 박스  */
#formRoot .k-input-inner {
    border: none;
}

#formRoot .k-input-inner,
.modal-level-plus-1 .k-input-inner {
    border-radius: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

#formRoot .form-control.k-datepicker,
.modal-level-plus-1 .form-control {
    display: flex !important;
    padding: 0;
}

/*  파일 업로드 버튼  버그 해결  */
#formRoot input,
.modal-level-plus-1 input:not([type="file"]) {
    padding: .438rem .875rem !important;
}

.drop-zone input::-webkit-file-upload-button {
    position: absolute;
    right: 150px;
}

/*  파일 업로드 폼 양식 수정  */
.k-file.k-file-invalid.k-file-error {
    padding: 8px;
    border-width: 0 0 1px !important;
    align-items: center !important;;
    position: relative;
    line-height: 1.42857;
}

.k-file.k-toupload {
    padding: 8px !important;
    border-width: 0 0 1px !important;
    align-items: center !important;
    position: relative;
    line-height: 1.42857;
}

.drop-zone.upload-root-div .k-actions{
    border-top: none;
}

/*  폼 멀티 셀렉트 수정  */
#formRoot .k-multiselect.k-input {
    display: flex !important;
    padding: 0;
}

#formRoot .k-multiselect.k-input span.k-clear-value {
    position: relative;
    left: -5px;
}

/*  4k 모니터 드랍다운 text 줄바뀜 버그  */
.k-list-item-text {
    white-space: nowrap;
}

/*  tagsinput value 가려짐 문제  */
/*  tagsinput 캐럿 안생기는 문제  */
#formRoot .bootstrap-tagsinput input {
    padding: 0 .375rem !important;
    min-width: 36px !important;
}

/*  inv/screen form 양식 수정  */
div[name="siteShortName-con"] > span,
div[name="siteName-con"] > span {
    padding: 0;
    display: flex;
}

/*  폼 clear-value button 조정  */
.custom-show-inline-flex {
    display: inline-flex;
}
.custom-hide {
    display: none;
}

/*  pager-size button 화살표 넘어가는 버그  */
.k-pager-sizes .k-dropdownlist .k-input-inner {
    padding-right: 0;
}

.k-pager-sizes .k-dropdownlist .k-input-button {
    padding-left: 0;
    border-left: none;
}

.k-input {
    box-shadow: none !important;
}

/*  datepicker border 줄 안맞는 버그  */
.k-datepicker.k-input .k-input-inner {
    border: none;
}

/*  alart modal button 색 변경  */
.bootbox button.bootbox-alert-confirm-btn {
    background-color: #e84c64;
    color: #fff ;
}

.bootbox button.bootbox-alert-confirm-btn:hover {
    background-color: #dc485f;
    color: #fff ;
}

/*  그리드 colum title ... 생기는 문제  */
.k-grid .k-cell-inner .k-grid-header-menu {
    width: calc(10px + 1.42857em);
    margin-inline-end: 0;
}

.k-grid .k-grid-header .k-cell-inner > .k-link > .k-sort-icon {
    margin-inline-start: calc(0.5rem - 1px);
}

/*  Kendo TreeView Font  */
.k-treeview-leaf-text {
    font-size: 1rem !important;
    font-weight: 400 !important;
}

/* 기본 스타일 */
.k-treeview-leaf-text {
    font-size: 1rem !important;
    font-weight: 400 !important;
}
/* 4K 모니터용 스타일 */
@media (min-resolution: 384dpi) {
    .k-treeview-leaf-text {
        font-size: 1rem !important;
        font-weight: 100 !important;
    }
}

/*  datetimepicker 폼 수정  */
#formRoot .k-datetimepicker {
    display: flex !important;
    padding: 0;
}


/*!*  adnet-default-tooltip  *!*/
/*.adnet-default-tooltip {*/
/*    position: relative;*/
/*    display: inline-block;*/
/*    cursor: pointer;*/
/*    z-index: 1;*/
/*}*/

/*.adnet-default-tooltip::before,*/
/*.adnet-default-tooltip::after {*/
/*    !*position: absolute;*!*/
/*    position: absolute;*/
/*    visibility: hidden;*/
/*    opacity: 0;*/
/*    transition: opacity 0.2s;*/
/*    z-index: 1070;*/
/*}*/

/*.adnet-default-tooltip::before {*/
/*    content: attr(data-tooltip);*/
/*    !*bottom: 150%; !* 툴팁과 화살표가 같이 움직이도록 조정 *!*!*/
/*    !*bottom: 110%; !* 툴팁이 보이도록 값 조정 *!*!*/
/*    bottom: 105%; !* 툴팁이 보이도록 값 조정 *!*/
/*    left: 50%;*/
/*    transform: translateX(-50%);*/

/*    background-color: #46494d;*/
/*    border-color: #46494d;*/
/*    color: #fff;*/
/*    text-align: center;*/
/*    border-radius: .25rem;*/
/*    padding: .25rem .5rem;*/
/*    font-family: "Roboto", "Noto Sans", "Noto Sans CJK KR", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;*/
/*    font-style: normal;*/
/*    font-weight: 400;*/
/*    line-height: 1.47;*/
/*    text-shadow: none;*/
/*    text-transform: none;*/
/*    letter-spacing: normal;*/
/*    word-break: normal;*/
/*    word-spacing: normal;*/
/*    white-space: nowrap;*/
/*    line-break: auto;*/
/*    font-size: .75rem;*/
/*    word-wrap: break-word;*/

/*    z-index: 1070;*/
/*    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);*/
/*}*/

/*.adnet-default-tooltip::after {*/
/*    content: "";*/
/*    bottom: 60%;*/
/*    left: 50%;*/
/*    transform: translateX(-50%);*/
/*    border-width: 0.375rem;*/
/*    border-style: solid;*/
/*    border-color: #46494d transparent transparent transparent;*/
/*    z-index: 1070;*/
/*    !*width: .8rem;*!*/
/*    !*height: .4rem;*!*/
/*}*/

/*.adnet-default-tooltip:hover::before,*/
/*.adnet-default-tooltip:hover::after {*/
/*    visibility: visible;*/
/*    opacity: 1;*/
/*}*/

/*  test   */
.adnet-default-tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    z-index: 1;
}

.tooltip {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s;
    z-index: 1070;
    background-color: #46494d;
    border-color: #46494d;
    color: #fff;
    text-align: center;
    border-radius: .25rem;
    padding: .25rem .5rem;
    font-family: "Roboto", "Noto Sans", "Noto Sans CJK KR", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: .75rem;
    white-space: nowrap;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
}

.tooltip.show {
    visibility: visible;
    opacity: 1;
}

.tooltip-arrow {
    content: "";
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-width: 0.375rem;
    border-style: solid;
    border-color: #46494d transparent transparent transparent;
    z-index: 1070;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s;
}
.tooltip-arrow.show {
    visibility: visible;
    opacity: 1;
}


/* 인벤 타겟팅 and or 버튼 수정 */
.k-grid-container .toggle-handle.btn.btn-default {
    border: none;
    opacity: 0;
}
.k-grid-container .toggle-handle.btn.btn-default:hover {
    opacity: 0;
}

.k-grid-container .btn.btn-info.toggle-on {
    padding: 7px 18px !important;
}
.k-grid-container .btn.btn-success.active.toggle-off {
    padding: 7px 18px !important;
}
