<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    	<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    	<property name="connection.url">jdbc:mysql://summer.signcast.co.kr:3306/adnet2?createDatabaseIfNotExist=true</property>
    	<property name="connection.username">adnet</property>
    	<property name="connection.password">adnetfnd</property>
    	<property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>

    	<property name="c3p0.min_size">1</property>
    	<property name="c3p0.max_size">5</property>
    	<property name="c3p0.timeout">300</property>
    	<property name="c3p0.max_statements">50</property>
    	<property name="c3p0.idle_test_period">3000</property>
    	
    	<property name="show_sql">true</property>
    	<property name="format_sql">true</property>
    	<property name="generate_statistics">true</property>
	    <property name="current_session_context_class">thread</property>
    	

    	<mapping class="kr.adnetwork.models.adc.AdcAd"/>
    	<mapping class="kr.adnetwork.models.adc.AdcAdCreative"/>
    	<mapping class="kr.adnetwork.models.adc.AdcAdTarget"/>
    	<mapping class="kr.adnetwork.models.adc.AdcCampaign"/>
    	<mapping class="kr.adnetwork.models.adc.AdcCreatFile"/>
    	<mapping class="kr.adnetwork.models.adc.AdcCreative"/>
    	<mapping class="kr.adnetwork.models.adc.AdcCreatTarget"/>
    	<mapping class="kr.adnetwork.models.adc.AdcMobTarget"/>
    	<mapping class="kr.adnetwork.models.adc.AdcMobTargetView"/>
    	<mapping class="kr.adnetwork.models.adc.AdcPlaylist"/>

    	<mapping class="kr.adnetwork.models.adn.AdnExcelRow"/>
    	
    	<mapping class="kr.adnetwork.models.fnd.FndCtntFolder"/>
    	<mapping class="kr.adnetwork.models.fnd.FndLoginLog"/>
    	<mapping class="kr.adnetwork.models.fnd.FndMobRegion"/>
    	<mapping class="kr.adnetwork.models.fnd.FndPriv"/>
    	<mapping class="kr.adnetwork.models.fnd.FndRegion"/>
    	<mapping class="kr.adnetwork.models.fnd.FndSetupFile"/>
    	<mapping class="kr.adnetwork.models.fnd.FndState"/>
    	<mapping class="kr.adnetwork.models.fnd.FndUserPriv"/>
    	<mapping class="kr.adnetwork.models.fnd.FndViewType"/>
    	
    	<mapping class="kr.adnetwork.models.inv.InvRTScreen"/>
    	<mapping class="kr.adnetwork.models.inv.InvRTScreenView"/>
    	<mapping class="kr.adnetwork.models.inv.InvRTSyncPack"/>
    	<mapping class="kr.adnetwork.models.inv.InvScreen"/>
    	<mapping class="kr.adnetwork.models.inv.InvScrLoc"/>
    	<mapping class="kr.adnetwork.models.inv.InvScrPack"/>
    	<mapping class="kr.adnetwork.models.inv.InvScrPackItem"/>
    	<mapping class="kr.adnetwork.models.inv.InvSite"/>
    	<mapping class="kr.adnetwork.models.inv.InvSyncPack"/>
    	<mapping class="kr.adnetwork.models.inv.InvSyncPackItem"/>

    	<mapping class="kr.adnetwork.models.knl.KnlAccount"/>
    	<mapping class="kr.adnetwork.models.knl.KnlMedium"/>
    	<mapping class="kr.adnetwork.models.knl.KnlMenu"/>
    	<mapping class="kr.adnetwork.models.knl.KnlUser"/>

    	<mapping class="kr.adnetwork.models.org.OrgAdvertiser"/>
    	<mapping class="kr.adnetwork.models.org.OrgAlimTalk"/>
    	<mapping class="kr.adnetwork.models.org.OrgChannel"/>
    	<mapping class="kr.adnetwork.models.org.OrgChanSub"/>
    	<mapping class="kr.adnetwork.models.org.OrgMediumOpt"/>
    	<mapping class="kr.adnetwork.models.org.OrgRadRegion"/>
    	<mapping class="kr.adnetwork.models.org.OrgRTChannel"/>
    	<mapping class="kr.adnetwork.models.org.OrgSiteCond"/>

    	<mapping class="kr.adnetwork.models.rev.RevAdSelCache"/>
    	<mapping class="kr.adnetwork.models.rev.RevAdSelect"/>
    	<mapping class="kr.adnetwork.models.rev.RevChanAd"/>
    	<mapping class="kr.adnetwork.models.rev.RevChanAdRpt"/>
    	<mapping class="kr.adnetwork.models.rev.RevCreatDecn"/>
    	<mapping class="kr.adnetwork.models.rev.RevDailyAchv"/>
    	<mapping class="kr.adnetwork.models.rev.RevEventReport"/>
    	<mapping class="kr.adnetwork.models.rev.RevFbSelCache"/>
    	<mapping class="kr.adnetwork.models.rev.RevHourlyPlay"/>
    	<mapping class="kr.adnetwork.models.rev.RevImpWave"/>
    	<mapping class="kr.adnetwork.models.rev.RevInvenRequest"/>
    	<mapping class="kr.adnetwork.models.rev.RevObjTouch"/>
    	<mapping class="kr.adnetwork.models.rev.RevPlayHist"/>
    	<mapping class="kr.adnetwork.models.rev.RevScrHourlyPlay"/>
    	<mapping class="kr.adnetwork.models.rev.RevScrHrlyFailTot"/>
    	<mapping class="kr.adnetwork.models.rev.RevScrHrlyFbTot"/>
    	<mapping class="kr.adnetwork.models.rev.RevScrHrlyNoAdTot"/>
    	<mapping class="kr.adnetwork.models.rev.RevScrHrlyPlyTot"/>
    	<mapping class="kr.adnetwork.models.rev.RevScrStatusLine"/>
    	<mapping class="kr.adnetwork.models.rev.RevSitHrlyPlyTot"/>
    	<mapping class="kr.adnetwork.models.rev.RevSyncPackImp"/>

    	<mapping class="kr.adnetwork.models.sys.SysAuditTrail"/>
    	<mapping class="kr.adnetwork.models.sys.SysAuditTrailValue"/>
    	<mapping class="kr.adnetwork.models.sys.SysOpt"/>
    	<mapping class="kr.adnetwork.models.sys.SysRtUnit"/>
    	<mapping class="kr.adnetwork.models.sys.SysSvcRespTime"/>
    	<mapping class="kr.adnetwork.models.sys.SysTmpHrlyEvent"/>
    	<mapping class="kr.adnetwork.models.sys.SysTmpStatusLine"/>
    	
    </session-factory>
</hibernate-configuration>
